jupyterhub
jupyterlab
notebook
ipywidgets
ipykernel

pyiceberg[s3fs,pyarrow]
pyarrow
pandas
polars
duckdb

trino[sqlalchemy]
sqlalchemy

boto3
botocore
s3fs
fsspec

requests
httpx
python-dotenv
PyYAML